body{
  background-color:#F6F6F6;
}

.dotted_hr {
  border-style: dotted none none none;
  height: 0px;
  width: 7%;
  border-width: 7px;
  border-color: white;
}

h1 {
  color: #6D9886;
  font-family: Garamond, serif;
}

h2 {
  color: #6D9886;
  font-family: Garamond, serif;
}

.monkey_shape {
  border-radius: 100%;
  opacity: 0.7;
}

.bjoern {
  color: #6D9886;
}
